

#footer__main{
    background: linear-gradient(90deg, rgb(110, 200, 254) 0%, rgba(73,63, 252, 1) 100%);
    grid-column: 1 / 13;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 15px;
    vertical-align: center;
    color: white;
    font-weight: normal;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

