*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form-box{
    min-width: 50%;
    height: 100vh;
    margin: 0vw;
    padding: 5vw ;
    position:relative;
}


.form-box input{
    display: block;
    width: 100%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
}

input[type=submit] {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(110, 200, 254) 0%, rgba(73,63, 252, 1) 100%);;
    color: white;
}

input[type=submit]:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: #fff;
    color: #6568f4;
    transition: 250ms;
}


