


.Oauth-Container{
    display: inline-flex;
    margin-top: 25px;
    gap: 5px;
    align-items: center;
}

.Oauth-Container > *{
    padding: 0 20px;
}

.Oauth-Container > *:hover{
    cursor: pointer;
}

.DTU-logo{
    height: 45px;
    width: auto;
}