

#nav__main{
    background-color: antiquewhite;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}



@media (max-width: 600px) {
    #nav__main{
        background-color: antiquewhite;
        grid-column: 1 / 13;
        grid-row: 2 / 3;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
}