.NavbarItems {
    background: linear-gradient(90deg, rgb(110, 200, 254) 0%, rgba(73,63, 252, 1) 100%);
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.navbar-logo{
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.searchbar {
    margin-left: 10px;
}

.fa-file-medical {
    margin-left: 1rem;
    font-size: 2rem;
    color: #fff;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-family: 'Monserrat', sans-serif;
}

.nav-links:hover {
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #ffff
}

